[paths]
  bwa = /data/davelab/bix/src/bwa/bwa
  R1 = /home/rip8/GAP_data/R1.fastq
  R2 = /home/rip8/GAP_data/R2.fastq 

[general]
  project_name = Test

 ### Current Options
 ###  0 - GAP_ERR
 ###  1 - GAP_ERR + GAP_WARN
 ###  2 - GAP_ERR + GAP_WARN + GAP_MSG 
  verbosity = 2

 ### Current Options
 ###  align - just align
  goal = align

[cluster]
 ### Current Options:
 ###  0 - SLURM
  ID = 0
  nodes = 1
  mincpus = 10 
  mem = 10G
  partition = interactive

[aligner]
 ### Current Options:
 ###  0 - BWA
  ID = 0
  name = BwaAligner
  ref = /data/davelab/bix/resources/genomes/hg19/ucsc.hg19.fasta  
