[paths]
  bwa = 
  R1 = 
  R2 =  

[general]
  project_name = 

 ### Current Options
 ###  0 - GAP_ERR
 ###  1 - GAP_ERR + GAP_WARN
 ###  2 - GAP_ERR + GAP_WARN + GAP_MSG 
  verbosity = 
  output_dir = 

 ### Current Options
 ###  align - just align
  goal = 

[cluster]
 ### Current Options:
 ###  0 - SLURM
  ID = 
  nodes = 
  mincpus =  
  mem = 
  partition = 

[aligner]
 ### Current Options:
 ###  0 - BWA
  ID = 
  ref =   
