workspace_dir               = /data/
report_topic                = "pipeline_reports"

[global]
apt_packages                = pigz
zone                        = us-east1-c

[main_instance]
nr_cpus                     = 6
mem                         = 16
boot_disk_size              = 250
disk_image                  = davelab-image-annovar

[worker_instance]
boot_disk_size              = 250
max_reset                   = 6
disk_image                  = davelab-image-annovar