[general]
# Properties of instances to be created
project_name                = test
split                       = True
service_account_key_file    = "keys/Davelab_GAP_key.json"
nr_splits                   = 25

# Versobity levels:
#   0 - Errors
#   1 - Errors + Warnings
#   2 - Errors + Warnings + Info
#   3 - Errors + Warnings + Info + Debug
verbosity       = 3


[platform]
# Main server (MS) information
MS_nr_cpus      = 8
MS_mem          = 30
MS_local_ssds   = 5
zone            = "us-east1-c"

# Max resources allowed
max_nr_cpus     = 32
max_mem         = 208
max_reset       = 15

# Startup/shutdown scripts to be run on each instance
start_up_script             = "gs://general_analysis/alex/tushar_test/startup_test.sh"
shutdown_script             = "gs://general_analysis/alex/tushar_test/shutdown_test.sh"

# Main server disk properties
disk_image                  = "davelab-image-latest"
boot_disk_size              = 60
is_boot_disk_ssd            = False

# Split server disk properties
split_disk_image            = "davelab-image-latest"
split_boot_disk_size        = 60
is_split_preemptible        = True


[paths]
# Paths of buckets to be transferred to main server instance on startup
cloud_storage_output_dir           = gs://davelab_temp/alex_big_test
cloud_storage_tool_dir             = gs://davelab_data/tools

# Path of bucket to where output will be sent upon completion
cloud_storage_resource_dir         = gs://davelab_data/tools/Trimmomatic_0.36/adapters

[[tools]]
# Paths to tools to be used during runtime.
# Assumes tools are either in the bucket_tool_dir on the bucket or pre-loaded on the instance
# If paths start with 'gs://' (absolute path on bucket) or do not begin with '/' (relative path on bucket) they must be in bucket_tool_dir to be transferred
# If paths start with '/' its assumed they are preloaded onto the instance
# In either case, tools and resources listed here will be checked to make sure they actually exist on the instance prior to pipeline launch
samtools          = samtools_1.3.1/samtools
bwa               = bwa_0.7.15/bwa
fastqc            = FastQC_0.11.5/fastqc
java              = jdk_1.8.0.111/bin/java
trimmomatic       = Trimmomatic_0.36/trimmomatic-0.36.jar
picard            = picard_2.8.2/picard.jar
gatk              = GATK_3.7/GATK.jar
bedtools          = bedtools_2.26.0/bin/bedtools
qc_parser         = QCParser/QCParser

[[resources]]
# Paths to resources to be used during runtime (see explanation above regarding tools section)
ref              = /ref/hg19/genome/ucsc.hg19.fasta
adapters          = adapters.fa
dbsnp             = /ref/hg19/dbsnp/dbsnp_149.vcf
#cosmic_vcf        = /ref/hg19/cosmic/chr_added_CosmicCodingMuts_v67_20131024.hg19.vcf
#target_bed         = /ref/hg19/bed/exome/ccdsExonsM.hg19.bed
#rnaseq_exon_bed   = /ref/hg19/bed/transcriptome/hg19_exons.bed.merged.noUTRs.bed
#rnaseq_gene_bed   = /ref/hg19/bed/transcriptome/hg19_genes.bed.merged.bed
#rnaseq_intron_bed = /ref/hg19/bed/transcriptome/hg19_introns.bed
#rnaseq_utrs_bed   = /ref/hg19/bed/transcriptome/hg19_utrs.bed.all.merged.bed
target_bed        = /ref/hg19/bed/transcriptome/sorted.V5regions.hg19.bed
#rnaseq_gtf        = /ref/hg19/transcriptome/gtf/Homo_sapiens.GRCh37.74_edited.gtf
#rnaseq_hisat_ref  = /ref/hg19/transcriptome/hisat/grch37_snp_tran/genome_snp_tran*
#rnaseq_rRNA_ref   = /ref/hg19/transcriptome/rRNA_reference/ribosomal_rna_reference.ncbi_nucleotide_rrna_search*
#rnaseq_gene_model = /ref/hg19/transcriptome/RSeQC/hg19_RefSeq.bed
#rnaseq_tophat_ref = /ref/hg19/transcriptome/tophat/hg19*


[tools]

[[tool1]]
module          = FastQC
final_output    = R1_fastqc, R2_fastqc

[[tool2]]
module          = Trimmomatic
final_output    = trim_report, R1, R2

[[tool3]]
module          = FastQC
input_from      = tool2
final_output    = R1_fastqc, R2_fastqc

[[tool4]]
module          = BwaAligner
input_from      = tool2
final_output    = bam

[[tool5]]
module          = SamtoolsIndex
input_from      = tool4


[[tool6]]
module          = PicardMarkDuplicates
input_from      = tool5, tool4
final_output    = bam, MD_report

[[tool7]]
module          = SamtoolsIndex
input_from      = tool6

[[tool8]]
module          = GATKBaseRecalibrator
input_from      = tool7, tool6
final_output    = BQSR_report

[[tool9]]
module          = GATKHaplotypeCaller
input_from      = tool6, tool7, tool8
final_output    = gvcf

[[tool10]]
module          = GATKPrintReads
input_from      = tool8, tool6, tool7
final_output    = bam

[[tool11]]
module          = SamtoolsIndex
input_from      = tool10

[[tool12]]
module          = PicardInsertSizeMetrics
input_from      = tool10, tool11
final_output    = insert_size_report, insert_size_histogram

[[tool13]]
module          = SamtoolsDepth
input_from      = tool10, tool11

[[tool14]]
module          = BedtoolsCaptureEfficiency
input_from      = tool10, tool11

[[tool15]]
module          = SamtoolsFlagstat
input_from      = tool10, tool11

[[tool16]]
module          = SummarizeFastQC
input_from      = tool1
final_output    = summary_file

[[tool17]]
module          = SummarizeFastQC
input_from      = tool3
final_output    = summary_file

[[tool18]]
module          = SummarizeTrimmomatic
input_from      = tool2
final_output    = summary_file

[[tool19]]
module          = SummarizeSamtoolsFlagstat
input_from      = tool15
final_output    = summary_file

[[tool20]]
module          = SummarizeSamtoolsDepth
input_from      = tool13
final_output    = summary_file

[[tool21]]
module          = SummarizeBedtoolsCaptureEfficiency
input_from      = tool14
final_output    = summary_file

[[tool22]]
module          = SummarizePicardInsertSizeMetrics
input_from      = tool12
final_output    = summary_file

[[tool23]]
module          = SummaryMerge
input_from      = tool16, tool17, tool22, tool18, tool19, tool21, tool20
final_output    = summary_file




