[general]
# Properties of instances to be created
project_name    = string(default="gap_job")
verbosity       = integer(0, 3, default=3)
output_dir      = string(default="/data/")
temp_dir        = string(default="/data/")
split           = boolean(default=False)
nr_splits       = integer(1, 100, default=20)

[instance]
nr_cpus         = integer(1, 32, default=8)
mem             = integer(default=25)

[sample]
ref             = string(default="hg19")
seq_platform    = string(default="illumina")
phred33         = boolean(default=True)
nr_read_pairs   = integer(default=-1)

[paths]
bwa             = string(default="/data/bin/bwa")
samtools        = string(default="/data/bin/samtools")
fastqc          = string(default="/data/bin/fastqc")
java            = string(default="/data/bin/java")
trimmomatic     = string(default="/data/res/trimmomatic.jar")
adapters        = string(default="/data/res/adapters.fa")
picard          = string(default="/data/res/picard.jar")
gatk            = string(default="/data/res/GATK.jar")
dbsnp           = string(default="/ref/hg19/dbsnp_149.vcf")

[references]

[[__many__]]
path            = string
nr_chrom        = integer
chroms          = force_list

[tools]

[[__many__]]
module          = string
input_from      = string(default="None")
