[general]
# Properties of instances to be created
project_name    = string(default="gap_job")
verbosity       = integer(0, 3, default=3)
output_dir      = string(default="/data/")
temp_dir        = string(default="/data/")
split           = boolean(default=False)
nr_splits       = integer(1, 100, default=20)

[instance]
nr_cpus         = integer(1, 32, default=8)
mem             = integer(default=25)

[sample]
phred33         = boolean(default=True)
nr_read_pairs   = integer(default=-1)

[paths]
bwa             = string(default="/data/bin/bwa")
samtools        = string(default="/data/bin/samtools")
fastqc          = string(default="/data/bin/fastqc")
trimmomatic     = string(default="/data/res/trimmomatic.jar")
adapters        = string(default="/data/res/adapters.fa")

[tools]

[[__many__]]
module          = string
input_from      = string(default="None")
