[general]
# Properties of instances to be created
project_name        = string(default="gap_job")
verbosity           = integer(0, 3, default=3)
output_dir          = string(default="/data/")
temp_dir            = string(default="/data/")
bucket_output_dir   = string(default="gs://davelab_temp/outputs/")
split               = boolean(default=False)
nr_splits           = integer(1, 100, default=20)

[platform]
zone            = string(default="us-east1-b")
MS_nr_cpus      = integer(1, 32, default=8)
MS_mem          = integer(default=30)
MS_local_ssds   = integer(default=5)

max_nr_cpus     = integer(default=32)
max_mem         = integer(default=208)
max_reset       = integer(default=5)

[sample]
ref             = string(default="hg19")
seq_platform    = string(default="illumina")
phred33         = boolean(default=True)
nr_read_pairs   = integer(default=-1)
read_length     = integer(default=100)

[[gs_input]]
__many__        = string

[paths]
bwa               = string(default="/data/bin/bwa")
samtools          = string(default="/data/bin/samtools")
fastqc            = string(default="/data/bin/fastqc")
java              = string(default="/data/bin/java")
trimmomatic       = string(default="/data/res/trimmomatic.jar")
adapters          = string(default="/data/res/adapters.fa")
picard            = string(default="/data/res/picard.jar")
gatk              = string(default="/data/res/GATK_3.7.jar")
dbsnp             = string(default="/ref/hg19/dbsnp/dbsnp_149.vcf")
cosmic_vcf        = string(default="/ref/hg19/cosmic/chr_added_CosmicCodingMuts_v67_20131024.hg19.vcf")
exome_bed         = string(default="/ref/hg19/bed/exome/ccdsExonsM.hg19.bed")
rnaseq_exon_bed   = string(default="/ref/hg19/bed/transcriptome/hg19_exons.bed.merged.noUTRs.bed")
rnaseq_gene_bed   = string(default="/ref/hg19/bed/transcriptome/hg19_genes.bed.merged.bed")
rnaseq_intron_bed = string(default="/ref/hg19/bed/transcriptome/hg19_introns.bed")
rnaseq_utrs_bed   = string(default="/ref/hg19/bed/transcriptome/hg19_utrs.bed.all.merged.bed")
rnaseq_v5_bed     = string(default="/ref/hg19/bed/transcriptome/sorted.V5regions.hg19.bed")
rnaseq_gtf        = string(default="/ref/hg19/transcriptome/gtf/Homo_sapiens.GRCh37.74_edited.gtf")
rnaseq_hisat_ref  = string(default="/ref/hg19/transcriptome/hisat/grch37_snp_tran/genome_snp_tran")
rnaseq_rRNA_ref   = string(default="/ref/hg19/transcriptome/rRNA_reference/ribosomal_rna_reference.ncbi_nucleotide_rrna_search")
rnaseq_gene_model = string(default="/ref/hg19/transcriptome/RSeQC/hg19_RefSeq.bed")
rnaseq_tophat_ref = string(default="/ref/hg19/transcriptome/tophat/hg19")


[references]

[[__many__]]
path            = string
nr_chrom        = integer
chroms          = force_list

[tools]

[[__many__]]
module          = string
input_from      = force_list(default=list("main_input"))
final_output    = force_list(default=list())
