[general]
# Properties of instances to be created
split                       = True
nr_splits                   = 25

# Versobity levels:
#   0 - Errors
#   1 - Errors + Warnings
#   2 - Errors + Warnings + Info
#   3 - Errors + Warnings + Info + Debug
verbosity       = 3


[platform]
# Main server (MS) information
MS_nr_cpus      = 8
MS_mem          = 30
MS_local_ssds   = 5
zone            = "us-east1-c"

# Max resources allowed
max_nr_cpus     = 32
max_mem         = 208
max_reset       = 15

# Startup/shutdown scripts to be run on each instance
start_up_script             = "gs://general_analysis/alex/tushar_test/startup_test.sh"
shutdown_script             = "gs://general_analysis/alex/tushar_test/shutdown_test.sh"

# Main server disk properties
disk_image                  = "davelab-image-latest"
boot_disk_size              = 60
is_boot_disk_ssd            = False

# Split server disk properties
split_disk_image            = "davelab-image-latest"
split_boot_disk_size        = 60
is_split_preemptible        = True


[paths]

[[output_dir]]
    path = gs://davelab_temp/alex_big_test