[tool1]
module          = FastQC
final_output    = R1_fastqc

[tool2]
module          = Trimmomatic
final_output    = trim_report, R1


[tool3]
module          = FastQC
input_from      = tool2
final_output    = R1_fastqc


[tool4]
module          = BwaAligner
input_from      = tool2
final_output    = bam
split           = True
split_module    = BwaFastqSplitter
merge_module    = SamtoolsBAMMerge

[tool5]
module          = SamtoolsIndex
input_from      = tool4

[tool6]
module          = PicardMarkDuplicates
input_from      = tool5, tool4
final_output    = MD_report
split           = True
split_module    = BAMChromosomeSplitter
merge_module    = SamtoolsBAMMerge

[tool7]
module          = SamtoolsIndex
input_from      = tool6

[tool8]
module          = GATKBaseRecalibrator
input_from      = tool7, tool6
final_output    = BQSR_report

[tool9]
module          = GATKHaplotypeCaller
input_from      = tool6, tool7, tool8
final_output    = gvcf, gvcf_idx
split           = True
split_module    = GATKReferenceSplitter
merge_module    = GATKCatVariants


[tool10]
module          = GATKPrintReads
input_from      = tool8, tool6, tool7
final_output    = bam
split           = True
split_module    = GATKReferenceSplitter
merge_module    = SamtoolsBAMMerge

[tool11]
module          = SamtoolsIndex
input_from      = tool10
final_output    = bam_idx

[tool13]
module          = SamtoolsDepth
input_from      = tool10, tool11
split           = True
split_module    = SamtoolsDepthSplitter
merge_module    = SamtoolsDepthMerge
    [[args]]
        target_bed = exome_bed

[tool14]
module          = BedtoolsCaptureEfficiency
input_from      = tool10, tool11
    [[args]]
        target_bed  = exome_bed
        subsample_perc  = 0.35

[tool15]
module          = SamtoolsFlagstat
input_from      = tool10, tool11

[tool16]
module          = SummarizeFastQC
input_from      = tool1
    [[args]]
        fastq_type  = Raw

[tool17]
module          = SummarizeFastQC
input_from      = tool3
    [[args]]
        fastq_type  = Trimmed

[tool18]
module          = SummarizeTrimmomatic
input_from      = tool2

[tool19]
module          = SummarizeSamtoolsFlagstat
input_from      = tool15

[tool20]
module          = SummarizeSamtoolsDepth
input_from      = tool13

[tool21]
module          = SummarizeBedtoolsCaptureEfficiency
input_from      = tool14
    [[args]]
        target_type = Exome

[tool23]
module          = SummaryMerge
input_from      = tool16, tool17, tool18, tool19, tool21, tool20
final_output    = summary_file