[samtools]
    resource_type   = samtools
    path            = samtools
    containing_dir  = gs://davelab_data/tools/samtools_1.3.1
    export_to_path  = True
[bwa]
    resource_type   = bwa
    path            = bwa
    containing_dir  = gs://davelab_data/tools/bwa_0.7.15
    export_to_path  = True
[fastqc]
    resource_type   = fastqc
    path            = fastqc
    containing_dir  = gs://davelab_data/tools/FastQC_0.11.5
[java]
    resource_type   = java
    path            = bin/java
    containing_dir  = gs://davelab_data/tools/jdk_1.8.0.111
    export_to_path  = True
[trimmomatic]
    resource_type   = trimmomatic
    path            = trimmomatic-0.36.jar
    containing_dir  = gs://davelab_data/tools/Trimmomatic_0.36/
[picard]
    resource_type   = picard
    path            = gs://davelab_data/tools/picard_2.8.2/picard.jar
[gatk]
    resource_type   = gatk
    path            = GATK.jar
    containing_dir  = gs://davelab_data/tools/GATK_3.7/
[bedtools]
    resource_type   = bedtools
    path            = bin/bedtools
    containing_dir  = gs://davelab_data/tools/bedtools_2.26.0/
    export_to_path  = True
[qc_parser]
    resource_type   = qc_parser
    path            = QCParser
    containing_dir  = gs://davelab_data/tools/QCParser
[ref]
    resource_type   = ref
    path            = /ref/hg19/genome/ucsc.hg19.fasta
[adapters]
    resource_type   = adapters
    path            = gs://davelab_data/tools/Trimmomatic_0.36/adapters/adapters.fa
[dbsnp]
    resource_type   = dbsnp
    path            = /ref/hg19/dbsnp/dbsnp_149.vcf
[intergenic_bed]
    resource_type   = target_bed
    path            = /ref/hg19/bed/transcriptome/sorted.V5regions.hg19.bed
[exome_bed]
    resource_type   = target_bed
    path            = /ref/hg19/bed/transcriptome/sorted.V5regions.hg19.bed
[rnaseq_ref]
    resource_type   = rna_seq_ref
    path            = /ref/hg19/transcriptome/tophat/hg19*
[snpeff]
    resource_type   = snpeff
    path            = gs://davelab_data/tools/snpEff_4.3b/snpEff.jar
    containing_dir  = gs://davelab_data/tools/snpEff_4.3b
[snpsift]
    resource_type   = snpsift
    path            = gs://davelab_data/tools/snpEff_4.3b/SnpSift.jar
    containing_dir  = gs://davelab_data/tools/snpEff_4.3b