[tool1]
module          = FastQC
final_output    = R1_fastqc, R2_fastqc

[tool2]
module          = Trimmomatic
final_output    = trim_report, R1, R2
    [[args]]
        nr_cpus = 16
        mem     = 16
        MINLEN  = 12

[tool3]
module          = FastQC
input_from      = tool2
final_output    = R1_fastqc, R2_fastqc


[tool4]
module          = BwaAligner
input_from      = tool2
final_output    = bam
split           = True
split_module    = BwaFastqSplitter
merge_module    = SamtoolsBAMMerge

[tool5]
module          = SamtoolsIndex
input_from      = tool4

[tool6]
module          = SamtoolsFlagstat
input_from      = tool4, tool5

[tool7]
module          = SummarizeFastQC
input_from      = tool1
final_output    = summary_file
    [[args]]
        fastq_type  = Raw

[tool8]
module          = SummarizeFastQC
input_from      = tool3
final_output    = summary_file
    [[args]]
        fastq_type  = Trimmed

[tool9]
module          = SummarizeTrimmomatic
input_from      = tool2
final_output    = summary_file

[tool10]
module          = SummarizeSamtoolsFlagstat
input_from      = tool4, tool5
final_output    = summary_file

[tool11]
module          = SummaryMerge
input_from      = tool7, tool8, tool9, tool10
final_output    = summary_file




